html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#container {
    display: block;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#main {
    height: 75%;
    width: 75%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#main > span:not(:first-child) {
    padding-left: 8px;
}
